/* Drupal specific tweaks */

/* Drupal edit/local tabs */
.button-group { margin-left: 0; margin-top: 2rem;}
.button-group li { display: inline-block; }
.button-group li a.button.secondary { background: #fff; color: #333; }
.button-group li a.button.secondary.active,
.button-group li a.button.secondary:active,
.button-group li a.button.secondary:hover { background: #333; color: #fff; }

/* Form buttons */ 
body .form-actions.form-wrapper button {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  }

input[type="checkbox"], input[type="radio"] { vertical-align: text-top; }  

/* Misc */
#panels-edit-display-form h2.label { background: none; }
html.js fieldset.collapsed { height: 2em; }
.button.primary { background-color: rgb(233,180,0); }

/* Edit form */
.node-form input#edit-title { 
  color: rgb(233,180,0); 
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; 
  font-size: 1.8em; 
  height: 2em;
}

/* Table ordering */
.sticky-table { box-sizing: initial; }
.sticky-table a { border-bottom: none; }

/* Reveal */
body.is-reveal-open { overflow: auto; } /* Allow scrolling */
body.is-reveal-open #status-messages { top: 30% !important; position: fixed !important; } /* Scroll the messages with the use */
.alert-box { margin-right: .5rem; } /* Space for close button */

/* Sidebar menus aren't horizontal */
.sidebar ul.menu ul.menu { padding-left: .75em; }
.sidebar .menu > li { display: list-item; }
.sidebar .menu > li > a { padding-left: .5em }

/* Remove background gunk */
div.warning {
  background: none;
  border: 1px solid rgba(10, 10, 10, 0.25);
}

/* Do not show default page title on panel pages */
body.page-node h2#page-title { display: none; }
