/*
  Colour palette: EMBL-EBI Training
*/

a {
  color: #222;
}

dl dt a,
a.label,
.label,
a:hover,
a:focus,
a:active {
  color: rgb(233,180,0);
}

h1 { color: #f7f7f7; }
h2 { color: rgb(233,180,0); }
h3 { color: #444444; }
h4 { color: #222; }

a.special { background-color: #7cd17c; }

.menu .active > a,
.tag,
.tabs-title > a:hover,
.button,
.button.primary {
  background-color: rgb(233,180,0);
}
a.tag:hover { color: #fff; }

.tabs-title > a:hover,
.button.primary:hover,
.button.primary:focus,
.button.hover,
.button:hover,
.button:focus,
.button:active { background: rgba(233,180,0,.9); }

.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'] {
  color: #fff;
  background: #666; }

div.masthead { background-color: rgb(233,180,0); }

body main.row { margin-top: 1.5rem; }
body .form-checkboxes .form-item,
body .form-radios .form-item {
    margin-top: 0;
    margin-bottom: 0;
}

/* end */
