/*
  Colour palette: EMBL-EBI Training
*/

h2 { color: rgb(239, 192, 110); }

.menu .active > a,
.tag,
.tabs-title > a:hover,
.button,
.button.primary {
  background-color: rgb(239, 192, 110);
}
a.tag:hover { color: #fff; }

.tabs-title > a:hover,
.button.primary:hover,
.button.primary:focus { background: rgba(239, 192, 110,.9); }
.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'] {
  color: #fff;
  background: #666; }

.masthead { background-color: rgb(239, 192, 110); }

body main.row { margin-top: 1.5rem; }
body .form-checkboxes .form-item,
body .form-radios .form-item {
    margin-top: 0;
    margin-bottom: 0;
}

/* end */
