node_modules
.DS_store
npm-debug.log

# Ignore all of foundation contrib but a few custom things
libraries/foundation-6/_vendor
libraries/foundation-6/dist
libraries/foundation-6/foundation-sites*

# Ignore all of foundation moutionui contrib but a few custom things
libraries/motion-ui
!libraries/motion-ui/dist
!libraries/motion-ui/LICENSE

# Ignore all of tablesorter contrib but a few custom things
libraries/tablesorter
!libraries/tablesorter/js
!libraries/tablesorter/css

# Jekyll stuff
_site/
.sass-cache/
.jekyll-metadata
