node_modules
.DS_store
_site
npm-debug.log

# Ignore all of foundation contrib but a few custom things
libraries/foundation-6
!libraries/foundation-6/js
!libraries/foundation-6/css
!libraries/foundation-6/LICENSE

# Ignore all of foundation moutionui contrib but a few custom things
libraries/motion-ui
!libraries/motion-ui/dist
!libraries/motion-ui/LICENSE

# Ignore all of tablesorter contrib but a few custom things
libraries/tablesorter
!libraries/tablesorter/js
!libraries/tablesorter/css
