node_modules
.DS_store
npm-debug.log

# Ignore all of foundation contrib but a few custom things
libraries/foundation-6
!libraries/foundation-6/js
!libraries/foundation-6/css
!libraries/foundation-6/LICENSE

# Ignore all of foundation moutionui contrib but a few custom things
libraries/motion-ui/.*
libraries/motion-ui/src
libraries/motion-ui/docs
libraries/motion-ui/motion-ui*
libraries/motion-ui/test

# Ignore all of tablesorter contrib but a few custom things
libraries/tablesorter/addons
libraries/tablesorter/beta*
libraries/tablesorter/docs
libraries/tablesorter/testing
libraries/tablesorter/.*
libraries/tablesorter/AUTHORS
libraries/tablesorter/bower*
libraries/tablesorter/composer*
libraries/tablesorter/test.html

# Jekull stuff
_site/
.sass-cache/
.jekyll-metadata
