.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log

# Tablesorter's package.json disrupts storing some files in npm
libraries/tablesorter/package.json
libraries/tablesorter/docs

libraries/motion-ui/motion-ui-*
