@font-face {
    font-family: 'EBI-Functional';
    src:    url('fonts/EBI-Functional.eot?q62qhj');
    src:    url('fonts/EBI-Functional.eot?q62qhj#iefix') format('embedded-opentype'),
        url('fonts/EBI-Functional.ttf?q62qhj') format('truetype'),
        url('fonts/EBI-Functional.woff?q62qhj') format('woff'),
        url('fonts/EBI-Functional.svg?q62qhj#EBI-Functional') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'EBI-Functional' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\2b";
}
.icon-add-job:before {
    content: "\29";
}
.icon-add-user:before {
    content: "\37";
}
.icon-align:before {
    content: "\69";
}
.icon-analyse:before {
    content: "\41";
}
.icon-analyse-graph:before {
    content: "\7a";
}
.icon-approve:before {
    content: "\2f";
}
.icon-approved-job:before {
    content: "\28";
}
.icon-attach:before {
    content: "\61";
}
.icon-browse:before {
    content: "\62";
}
.icon-close:before {
    content: "\78";
}
.icon-collapse:before {
    content: "\77";
}
.icon-collapse-closed:before {
    content: "\39";
}
.icon-collapse-open:before {
    content: "\38";
}
.icon-compare:before {
    content: "\4f";
}
.icon-crop:before {
    content: "\5c";
}
.icon-cut:before {
    content: "\63";
}
.icon-database-submit:before {
    content: "\44";
}
.icon-delete:before {
    content: "\64";
}
.icon-download:before {
    content: "\3d";
}
.icon-edit:before {
    content: "\65";
}
.icon-edit-user:before {
    content: "\35";
}
.icon-expand:before {
    content: "\75";
}
.icon-filter:before {
    content: "\66";
}
.icon-first-page:before {
    content: "\5b";
}
.icon-fullscreen:before {
    content: "\46";
}
.icon-hierarchy:before {
    content: "\68";
}
.icon-last-page:before {
    content: "\5d";
}
.icon-like:before {
    content: "\6b";
}
.icon-lock:before {
    content: "\4c";
}
.icon-login:before {
    content: "\6c";
}
.icon-mapping:before {
    content: "\30";
}
.icon-menu:before {
    content: "\4d";
}
.icon-move:before {
    content: "\6d";
}
.icon-next-page:before {
    content: "\3e";
}
.icon-play:before {
    content: "\76";
}
.icon-previous-page:before {
    content: "\3c";
}
.icon-print:before {
    content: "\50";
}
.icon-redo:before {
    content: "\7d";
}
.icon-refresh:before {
    content: "\52";
}
.icon-remove:before {
    content: "\2d";
}
.icon-remove-user:before {
    content: "\36";
}
.icon-save:before {
    content: "\53";
}
.icon-scaleable:before {
    content: "\59";
}
.icon-search:before {
    content: "\31";
}
.icon-search-document:before {
    content: "\6a";
}
.icon-send:before {
    content: "\6e";
}
.icon-settings:before {
    content: "\73";
}
.icon-share:before {
    content: "\72";
}
.icon-stop:before {
    content: "\6f";
}
.icon-submit:before {
    content: "\5f";
}
.icon-target:before {
    content: "\54";
}
.icon-tool:before {
    content: "\74";
}
.icon-unassigned-job:before {
    content: "\2a";
}
.icon-undo:before {
    content: "\7c";
}
.icon-unlock:before {
    content: "\55";
}
.icon-view:before {
    content: "\34";
}
.icon-zoom-in:before {
    content: "\33";
}
.icon-zoom-out:before {
    content: "\32";
}

