@mixin ebi-related-pattern {
  // related / popular box
  .related {
    background: $ebi-colour-dark;
    margin-top: 4.25rem;
    color: $ebi-colour-white;
    padding: .5rem 0 0 1.1rem;

    h3 {
      color: $ebi-colour-white;
      background: none;
      margin-bottom: 0;
    }

    ul {
      margin-left: 0;
      margin-top: .25rem;

      li {
        display:inline-block;
        width: 49%;
        padding-right: 0;
        font-size: .9rem;
        min-width: 7rem; // for odd mid-break points, ensure the text doesn't get too small

        a { color: $ebi-colour-white; border-bottom:none; }
        a:hover { text-decoration: underline; }
        a:after { content: " >"; }
      }
    }
    ul:after { content: " "; height: .5rem; display: block; clear: both; } // a clearfix to show background
  }
}
