@mixin ebi-masthead-styles {
  // SITE-WIDE MASTHEAD LAYOUT AND SIZE
  // Generic rules for global and local mastheads

  // GLOBAL MASTHEAD
  #local-title a,
  nav a,
  nav a:hover { border-bottom: none; }

  .masthead {
    // underline links in the textual area of the local masthead
    #local-title .columns {
      a { border-bottom: 1px dotted rgb(255,255,255); }
      a.button { border-bottom: none; }
      a:hover { border-bottom: none; }
    }
  }

  // Global menu styling
  nav ul#global-nav.menu li { border-right: none; display: inline-block; }

  // Disable masthead-black-bar search when told
  body.no-global-search .masthead-black-bar ul#global-nav.menu li.search { display: none; }

  // Mobile logo
  @media screen and (max-width: 40em) {
    nav ul#global-nav.menu li.home { display: none; }
    nav ul#global-nav.menu li.home-mobile a {
      display: block;
      height: 50px;
      width: 67px;
      background-image: url("../images/logos/EMBL-EBI/EMBL_EBI_Logo_white.svg");
      background-size: 64px 47px;
      background-repeat: no-repeat;
      margin-left: 6px;
    }
  }
  @media screen and (min-width: 40em) {
    nav ul#global-nav.menu li.home-mobile { display: none; }
  }

  .masthead-black-bar {
    a,
    a:hover,
    ul.menu li a:hover,
    ul.menu li a:active,
    ul.menu li a:focus,
    ul.menu li.active a,
    ul.menu li.active-trail a {
      color: white;
      border-bottom: none;
    }

    ul.menu li.active a,
    ul.menu li.active-trail a {
      background: rgb(0,0,0);
    }

    // custom colour for Home
    ul li.home a:before {
      font-family: 'EBI-Generic';
      content: 'H ';
    }
    ul li.home a:hover,
    ul li.home a:active,
    ul li.home a:focus {
      background-color: $ebi-colour-petrol;
    }

    // custom colour for Services
    ul li.services a:before {
      font-family: 'EBI-Generic';
      content: '( ';
    }
    ul li.services a:hover,
    ul li.services a:active,
    ul li.services a:focus {
      background-color: $ebi-colour-services;
    }

    // custom colour for Research
    ul li.research a:before {
      font-family: 'EBI-Generic';
      content: ') ';
    }
    ul li.research a:hover,
    ul li.research a:active,
    ul li.research a:focus {
      background-color: $ebi-colour-light-green;
    }

    // custom colour for Training
    ul li.training a:before {
      font-family: 'EBI-Generic';
      content: 't ';
    }
    ul li.training a:hover,
    ul li.training a:active,
    ul li.training a:focus {
      background-color: $ebi-colour-training;
    }

    // custom colour for about us
    ul li.about a:before {
      font-family: 'EBI-Generic';
      content: 'i ';
    }
    ul li.about a:hover,
    ul li.about a:active,
    ul li.about a:focus,
    ul li.about-us a:hover,
    ul li.about-us a:active,
    ul li.about-us a:focus {
      background-color: $ebi-colour-services;
    }

    // custom icon for search
    ul li.search a:before {
      font-family: 'EBI-Functional';
      content: '1';
    }

    ul li.search .dropdown-pane {
      width: 100%;
      left: 0;
      background: $ebi-colour-dark;
      border: none;
      margin-top: -2px;
      color: #fff;
    }

    // masthead dropdwon styles
    .dropdown-pane {
      background-color: #333;
      background-position: 100% 100%;
      background-repeat: no-repeat;
      color: #fff;
      padding-right: 17rem;
      min-width: 39.9375em;
      left: 0; //fix position of menu, to prevent horizontal scrolling of page

      h6 { color: white; font-weight: 700; }
      .button { color: #007c82; background: #fff; }
    }

    // EMBL Selector dropdown
    @include embl-selector;

  }

  .masthead-inner {
    padding-top: 2.5rem;
    color: #fff;
  }
  // END .masthead

  // Local masthead secondary links on mobile
  @media screen and (max-width: 39.9375em) {
    .masthead ul.menu.dropdown.float-right > li {
      margin-bottom: -50px;
    }

    .masthead-black-bar nav ul.menu {
      text-align: right;

      li { float: none; display: inline-block; }
      li.home-mobile { float: left; }

      // make icon bar smaller for mobile
      > li > a > img,
      > li > a:before {
        display: block;
        margin: 0 auto 0.25rem;
        font-size: 16px;
      }
      > li > a {
        text-align: center;
        font-size: 10px;
        padding: .6rem .35rem;
      }
    }
  }

  // LOCAL MASTHEAD
  #skip-to {
    top: -5000px;
    position: absolute;
  }

  // Local menu styling
  .masthead {
    background-repeat: no-repeat;
    background-position: 100% 82%;
    background-size: cover;
    // triangle svg background
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="147 248 60 248" xml:space="preserve"><polygon class="st0" fill="#000" fill-opacity="0.05" points="147,363.6 259.3,363.6 259.3,428.4 203.2,460.9 147,428.4 "/></svg>');

    h1,
    h4,
    p,
    a, a:hover, a:active, a:visited {
      color: #fff;
    }
    ul li.is-active a,
    ul li a:hover,
    nav ul li a.hover,
    nav ul li a:hover { background-color: rgba(255,255,255,.5); color: #444; }
    nav ul li.active a,
    nav ul li a:active,
    ul li.active-trail a,
    ul li.active a:visited,
    ul li.active-trail a:visited { background-color: rgba(255,255,255,1); color: #444;border-bottom: 0;}

    nav { font-size: .9rem; clear: both; }

    nav ul.menu li { border-right: 1px solid $ebi-colour-light; float: left;
                     margin-left: 0; /* compliance compatibility */
                                     }
    nav ul.menu li:last-child,
    nav ul.menu li.active { border-right: 0; }

    nav ul.menu li.float-right { border-right: none; }
  }

  .masthead-inner nav i { line-height: .9em; font-size: .8em; margin-top: -3px; }

  div#local-title { margin-bottom: 1rem; }

  .masthead.meta-background-image {
    background-position: 100% 100%;
    background-size: initial;
  }

  // tweak sticky behaviour
  .masthead.sticky { width: 100%; position: static; -webkit-transform: none; transform: none; }
  .masthead.sticky.is-stuck { position: fixed; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

  input#local-searchbox,
  #local-search [type="submit"] {
    display: inline-block; margin: 0;
    vertical-align: top; border-top: 0; border-right: 0; border-left: 0; box-shadow: none;
  }
  #local-search .input-group-button { vertical-align: top; }

  body.section-about .masthead {
    background-color: $ebi-colour-petrol;
  }
  body.section-industry .masthead {
    background-color: $ebi-colour-industry;
  }
  body.section-research {
    .masthead {
      background-color: $ebi-colour-light-green;
    }
    #local-title h1,
    #local-title p,
    #local-title a {
      color: #FFF;
    }
  }
  body.section-services .masthead {
    background-color: $ebi-colour-services;
  }
  body.section-training .masthead {
    background-color: $ebi-colour-training;
  }
  body.section-training #local-title  {
    h1,
    #local-title p,
    #local-title a {
      color: #222;
    }
  }
  body.section-home .masthead {
    background-color: $ebi-colour-petrol;
  }

  // tweak to foundation menu; hide submenu until rendered by JS
  ul.menu.dropdown ul.menu { display: none; }
  ul.menu.dropdown ul.menu.is-dropdown-submenu.js-dropdown-active { display:block; }
  .dropdown.menu > li.is-dropdown-submenu-parent > a::after { border-color: #FFF transparent transparent; }

  // active sidebar items
  .menu > li > a.active { font-weight: bold; }

  // dropdown arrow
  body .dropdown.menu .has-submenu.is-down-arrow > a::after {
    border-color: rgba(0,0,0,.4) transparent transparent;
  }
  body .dropdown.menu .has-submenu.is-right-arrow > a::after {
    border-color: transparent transparent transparent rgba(0,0,0,.4);
  }
  body header nav .menu.dropdown > .has-submenu.is-down-arrow > a::after {
    border-color: #fff transparent transparent;
  }
}
