@mixin ebi-print-styles {
  /* print styles */
  @media print {
    a, a:visited { border-bottom: none; }
    #skip-to,
    form#local-search,
    .global-footer,
    #search_ebi,
    #shortcuts,
    #ebi_search_results { display: none; }
    body { font-size: .9rem; } // slightly decrease font for print
    // don't print main navigation links
    .masthead-black-bar nav a[href]:after,
    .masthead nav a[href]:after,
    .masthead-inner a[href]:after {
      content: " ";
    }
    // print at full width of page
    .row { max-width: 100%; }
  }
}
