#u2361_clip
{
	overflow: hidden;
}

#u2344
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	background: transparent url("../images/ebi_research_button.jpg") no-repeat left top;
}

#u2344:hover
{
	background-image: url("../images/ebi_research_button2.jpg");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
}

#u2344:active
{
	background-image: url("../images/ebi_research_button.jpg");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
}

#u2344.MuseLinkActive
{
	background-image: url("../images/ebi_research_button.jpg");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
}

#u2353
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	background: transparent url("../images/ebi_training_button.jpg") no-repeat left top;
}

#u2353:hover
{
	background-image: url("../images/ebi_training_button2.jpg");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
}

#u2353.MuseLinkActive
{
	background-image: url("../images/ebi_training_button2.jpg");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
}

#u2345
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	background: transparent url("../images/ebi_about_button.jpg") no-repeat left top;
}

#u2345:hover
{
	background-image: url("../images/ebi_about_button2.jpg");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
}

#u2345.MuseLinkActive
{
	background-image: url("../images/ebi_about_button2.jpg");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
}

#u2346
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	background: transparent url("../images/ebi_services_button.jpg") no-repeat left top;
}

#u2346:hover
{
	background-image: url("../images/ebi_services_button.png");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
}

#u2346.MuseLinkActive
{
	background-image: url("../images/ebi_services_button.png");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
}

#u2360
{
	border-color: #000000;
	background-color: #333333;
	position: relative;
}

#u2971
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	background: transparent url("../images/ebi_industry_button.jpg") no-repeat left top;
}

#u2971:hover
{
	background-image: url("../images/ebi_industry_button2.jpg");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
}

#u2971.MuseLinkActive
{
	background-image: url("../images/ebi_industry_button2.jpg");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
}

#u2351,#u2361,#u2862
{
	position: relative;
}

#u2351_img,#u2862_img
{
	vertical-align: top;
}

#u2958-5
{
	color: #777777;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u2350
{
	border-color: #000000;
	background-color: #E7E7E7;
	position: relative;
}

