// EBI Colours
$ebi-colour-dark: #222;
$ebi-colour-light: #f8f8f8;
$ebi-colour-dark-grey: #666;;
$ebi-colour-light-grey: #f7f7f7;
$ebi-colour-light-green: rgb(109,171,73);
$ebi-colour-dark-green: rgb(2,100,105);
$ebi-colour-petrol: rgb(0,124,130);
$ebi-colour-gold: rgb(233,180,0);
$ebi-colour-orange: rgb(251,106,42);
$ebi-colour-blue: rgb(0,134,180);
$ebi-colour-white: rgb(255,255,255);

$primary-color: $ebi-colour-petrol;
$secondary-color: $ebi-colour-dark-grey;

$ebi-colour-main: $ebi-colour-petrol;
$ebi-colour-services: $ebi-colour-dark-green;
$ebi-colour-research: $ebi-colour-light-green;
$ebi-colour-training: $ebi-colour-gold;
$ebi-colour-industry: $ebi-colour-blue;
$ebi-colour-elixir: $ebi-colour-orange;

// Generic colours not attached to the EBI brand
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;

$body-background: $ebi-colour-white;
$body-font-color: $ebi-colour-dark;
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-font-family-serif: 'EB Garamond', 'georgia', serif;

// These don't do anything yet...
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: 700;
$global-radius: 0;
$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$global-flexbox: false;
