@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond'), local('EBGaramond'), url(https://fonts.gstatic.com/s/ebgaramond/v7/kYZt1bJ8UsGAPRGnkXPeFYgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
/*  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;*/
}

/* Load our custom font file */
@font-face {
  font-family: 'HelveticaNeueLT Pro';
  src: url('helvetica-neue/helveticaneueltprolt.eot');
  src: url('helvetica-neue/helveticaneueltprolt.eot?#iefix') format('embedded-opentype'),
       url('helvetica-neue/helveticaneueltprolt.otf') format('opentype'),
       url('helvetica-neue/helveticaneueltprolt.woff') format('woff'),
       url('helvetica-neue/helveticaneueltprolt.ttf') format('truetype'),
       url('helvetica-neue/helveticaneueltprolt.svg#HelveticaNeueLTPro-Lt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
/* Icons
=================================================== */
/* Biological concepts and top-level icons (e.g. Services, Research, etc. */
@font-face {
  font-family: 'EBI-Conceptual';
  src:url('EBI-Conceptual/fonts/EBI-Conceptual.eot');
  src:url('EBI-Conceptual/fonts/EBI-Conceptual.eot?#iefix') format('embedded-opentype'),
    url('EBI-Conceptual/fonts/EBI-Conceptual.woff') format('woff'),
    url('EBI-Conceptual/fonts/EBI-Conceptual.svg#EBI-Conceptual') format('svg'),
    url('EBI-Conceptual/fonts/EBI-Conceptual.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Generic, functional or activity-orientated icons */
@font-face {
  font-family: 'EBI-Functional';
  src:url('EBI-Functional/fonts/EBI-Functional.eot');
  src:url('EBI-Functional/fonts/EBI-Functional.eot?#iefix') format('embedded-opentype'),
    url('EBI-Functional/fonts/EBI-Functional.woff') format('woff'),
    url('EBI-Functional/fonts/EBI-Functional.svg#EBI-Functional') format('svg'),
    url('EBI-Functional/fonts/EBI-Functional.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Generic icons that can be used as decoration or emphasis */
@font-face {
  font-family: 'EBI-Generic';
  src:url('EBI-Generic/fonts/EBI-Generic.eot');
  src:url('EBI-Generic/fonts/EBI-Generic.eot?#iefix') format('embedded-opentype'),
    url('EBI-Generic/fonts/EBI-Generic.woff') format('woff'),
    url('EBI-Generic/fonts/EBI-Generic.svg#EBI-Generic') format('svg'),
    url('EBI-Generic/fonts/EBI-Generic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Icons for commonly referenced species and orgamisms */
@font-face {
  font-family: 'EBI-Species';
  src:url('EBI-Species/fonts/EBI-Species.eot');
  src:url('EBI-Species/fonts/EBI-Species.eot?#iefix') format('embedded-opentype'),
    url('EBI-Species/fonts/EBI-Species.woff') format('woff'),
    url('EBI-Species/fonts/EBI-Species.svg#EBI-Species') format('svg'),
    url('EBI-Species/fonts/EBI-Species.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Icons for social media */
@font-face {
  font-family: 'EBI-SocialMedia';
  src:url('EBI-SocialMedia/fonts/EBI-SocialMedia.eot');
  src:url('EBI-SocialMedia/fonts/EBI-SocialMedia.eot?#iefix') format('embedded-opentype'),
    url('EBI-SocialMedia/fonts/EBI-SocialMedia.woff') format('woff'),
    url('EBI-SocialMedia/fonts/EBI-SocialMedia.svg#EBI-SocialMedia') format('svg'),
    url('EBI-SocialMedia/fonts/EBI-SocialMedia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Specific file formats */
@font-face {
  font-family: 'EBI-FileFormats';
  src:url('EBI-FileFormats/fonts/EBI-FileFormats.eot');
  src:url('EBI-FileFormats/fonts/EBI-FileFormats.eot?#iefix') format('embedded-opentype'),
    url('EBI-FileFormats/fonts/EBI-FileFormats.woff') format('woff'),
    url('EBI-FileFormats/fonts/EBI-FileFormats.svg#EBI-Functional') format('svg'),
    url('EBI-FileFormats/fonts/EBI-FileFormats.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chemistry font */
@font-face {
  font-family: 'EBI-Chemistry';
  src:url('EBI-Chemistry/fonts/EBI-Chemistry.eot');
  src:url('EBI-Chemistry/fonts/EBI-Chemistry.eot?#iefix') format('embedded-opentype'),
    url('EBI-Chemistry/fonts/EBI-Chemistry.woff') format('woff'),
    url('EBI-Chemistry/fonts/EBI-Chemistry.svg#EBI-Chemistry') format('svg'),
    url('EBI-Chemistry/fonts/EBI-Chemistry.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html.fontface .icon {
  text-decoration: none;
  font-style: normal;
  text-rendering: optimizeLegibility !important;
}
html.fontface  .icon-conceptual,
html.fontface  .icon-conceptual:before {
  font-family: 'EBI-Conceptual';
  font-size: 138.5%;
  content: attr(data-icon);
}
html.fontface  .icon-functional,
html.fontface  .icon-functional:before {
  font-family: 'EBI-Functional';
  content: attr(data-icon);
}
/*html.fontface  .icon-static:before,*/ /* deprecated, included for back-compatibility */
html.fontface  .icon-generic,
html.fontface  .icon-generic:before {
  font-family: 'EBI-Generic';
  content: attr(data-icon);
}
html.fontface  .icon-species,
html.fontface  .icon-species:before {
  font-family: 'EBI-Species';
  content: attr(data-icon);
}
html.fontface  .icon-socialmedia,
html.fontface  .icon-socialmedia:before {
  font-family: 'EBI-SocialMedia';
  content: attr(data-icon);
}
html.fontface  .icon-fileformats,
html.fontface  .icon-fileformats:before {
  font-family: 'EBI-FileFormats';
  font-size: 123.1%;
  content: attr(data-icon);
}
html.fontface  .icon-chemistry,
html.fontface  .icon-chemistry:before {
  font-family: 'EBI-Chemistry';
  content: attr(data-icon);
}

/* Custom colouring from some globally-used icons */
html.fontface .icon-c1:before { color: #dac79d; }  /* DNA & RNA */
html.fontface .icon-c2:before { color: #dab7e2; }  /* Gene expression */
html.fontface .icon-c3:before { color: #62d0df; }  /* Proteins */
html.fontface .icon-c4:before { color: #afc9b8; }  /* Structures */
html.fontface .icon-c5:before { color: #ffb4aa; }  /* Systems */
html.fontface .icon-c6:before { color: #ffc999; }  /* Chem bio */
html.fontface .icon-c7:before { color: #bec3d9; }  /* Ontologies */
html.fontface .icon-c8:before { color: #c5d4a3; }  /* Literature & patents */
html.fontface .icon-c9:before { color: #a4c7e2; }  /* Cross-domain */
html.fontface .icon-s1:before { color: #3b5998; }  /* Facebook */
html.fontface .icon-s2:before { color: #55acee; }  /* Twitter */
html.fontface .icon-s3:before { color: #007bb6; }  /* LinkedIn */
html.fontface .icon-s4:before { color: #ff6600; }  /* Blogger */
html.fontface .icon-s5:before { color: #a6c83f; }  /* Orcid */
html.fontface .icon-s6:before { color: #dd4b39; }  /* Google+ */
html.fontface .icon-s7:before { color: #bb0000; }  /* YouTube */
html.fontface .icon-s8:before { color: #f40083; }  /* Flikr */
html.fontface .icon-s9:before { color: #1ab7ea; }  /* Vimeo */
html.fontface .icon-s10:before { color: #00bcf2; }  /* Windows */
html.fontface .icon-s11:before { color: #f7941e; }  /* SlideShare */
html.fontface .icon-s12:before { color: #21759b; }  /* Wordpress */
html.fontface .icon-s13:before { color: #fa9b39; }  /* RSS */


