/* general styles for all events and seminars */
body.page-about-events .content {
  margin: 0 15px 0 10px;
}

section > h2 { 
  display: none; /* hide the default drupal title */
}

h3 {
  color: #207a7a;
}

a.button {
  background-color: #0b7b7d;
  color: #fff;
  border: none;
  padding: 7px 15px;  
}

a.button:hover {
  background-color: #03B4B7;
}


/* styles for events */
.event-hero-image {
  margin: 0 -20px 10px -3px;
}
.event-hero-image p,
.event-hero-image img {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.event-title h3 {
  font-size: 277%;
  line-height: 1.11;
}

.event-date {
  width: 100%;
  color: #666;
  font-size: 150%;
  font-family: 'HelveticaNeueLT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.event-description {
}
.event-description-long {
}

.event-topics .views-row { display: inline-block; }
.event-topics .views-row:first-child { padding-left: 7px; }
.event-topics .views-row p { padding: 0; }
.event-topics .views-row:first-child .field-content:first-child:before {
    content: "Topics: ";
    font-weight: bold;
} 
.event-topics .field-content:after { content: ","; } 
.event-topics .views-row:last-child .field-content:after { content: ""; } 

.event-speakers .view-content > .views-row { 
   clear: both; 
}

/*
.event-speakers .views-field-text-3 {
  float: left;
  width: 13%;
  margin-right: 1%;
}
.event-speakers .views-field-text-3 img {
  margin: 0;
}

.event-speakers .views-field-text-1 {
  display: none;
}
.event-speakers .views-field-text {
  width: 42%;
  float: left;
}

.event-speakers .views-field.views-field-markup {
  float: right;
  width: 42%;
}
*/

.event-sponsor h4,
.event-registration h4,
.event-speakers h4 {
  font-weight: bold;
  font-family: verdana, sans-serif;
  font-size: 13px;
  margin: 0;
}

.event-sponsor {

}

/* programme table */
td {
  border: none;
}

th {
  background: none;
  border: none;
  font-weight: bold;
}

tbody {
  border: none;
}

table.contenttable_lmenu {
  border: none;
}

tr:nth-child(even) {
  background-color: #EEE;
}

td.subheadingleft {
  background: #fff;
  font-weight: bold;
  border-bottom: 1px solid #EEE;
}

tr td:first-child {
  min-width: 95px;
}

/* styles for seminars */
.seminar-speaker-image {
  float: left; 
  width: 100px;
  height: 120px;
}
body.page-about-events-seminars .event-title,
body.page-about-events-seminars .pane-title,
.seminar-type,
.seminar-date,
.seminar-speaker-name {
  width: 90%;
  display: inline-block;
}
.seminar-type p,
.seminar-date p,
.seminar-speaker-name p {
  margin-bottom: .5em;
}

.seminar-speaker-image h2 {
	display: none;
}

.seminar-speaker-name img {
  display: none;
}

body.page-about-events-seminars .event-title h3:before {
  content: "Title: ";
  font-weight: bold;
}
body.page-about-events-seminars .event-title h3 { 
  font-size: 13px;
  color: #222;
  font-family: verdana;
  margin: 0 0 .5em;
}

body.page-about-events-seminars .panels-flexible-column.panels-flexible-column-basic_layout-5.panels-flexible-column-last {
  float: right;
  margin-top: -7em;
}

.seminar-materials {
  margin-left: 110px;
}

.seminar-description {
  margin-left: 100px;
}

.seminar-materials a.button {
  display: inline-block;
  margin: 5px 0 0 -10px;
}

.seminar-contact {
  margin: 1em 0 0 100px;
}