@font-face {
    font-family: 'EBI-Species';
    src:    url('fonts/EBI-Species.eot?mscl4l');
    src:    url('fonts/EBI-Species.eot?mscl4l#iefix') format('embedded-opentype'),
        url('fonts/EBI-Species.ttf?mscl4l') format('truetype'),
        url('fonts/EBI-Species.woff?mscl4l') format('woff'),
        url('fonts/EBI-Species.svg?mscl4l#EBI-Species') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'EBI-Species' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alpaca:before {
    content: "\61";
}
.icon-amoeba:before {
    content: "\30";
}
.icon-anolis:before {
    content: "\37";
}
.icon-armadillo:before {
    content: "\6c";
}
.icon-barley:before {
    content: "\35";
}
.icon-brassica:before {
    content: "\42";
}
.icon-bug:before {
    content: "\62";
}
.icon-cat:before {
    content: "\41";
}
.icon-chicken:before {
    content: "\6b";
}
.icon-chimpanzee:before {
    content: "\69";
}
.icon-corn:before {
    content: "\63";
}
.icon-cow:before {
    content: "\43";
}
.icon-diatom:before {
    content: "\32";
}
.icon-dog:before {
    content: "\64";
}
.icon-dolphin:before {
    content: "\44";
}
.icon-ecoli:before {
    content: "\4c";
}
.icon-elephant:before {
    content: "\65";
}
.icon-finch:before {
    content: "\6e";
}
.icon-fly:before {
    content: "\46";
}
.icon-frog:before {
    content: "\66";
}
.icon-fungus:before {
    content: "\75";
}
.icon-gorilla:before {
    content: "\47";
}
.icon-guinea-pig:before {
    content: "\67";
}
.icon-hedgehog:before {
    content: "\6f";
}
.icon-horse:before {
    content: "\68";
}
.icon-human:before {
    content: "\48";
}
.icon-kangaroo-rat:before {
    content: "\33";
}
.icon-louse:before {
    content: "\34";
}
.icon-monkey:before {
    content: "\72";
}
.icon-monodelphis:before {
    content: "\39";
}
.icon-mosquito:before {
    content: "\31";
}
.icon-mouse:before {
    content: "\4d";
}
.icon-papio:before {
    content: "\38";
}
.icon-pig:before {
    content: "\70";
}
.icon-plant:before {
    content: "\50";
}
.icon-platypus:before {
    content: "\55";
}
.icon-pufferfish:before {
    content: "\45";
}
.icon-rabbit:before {
    content: "\74";
}
.icon-rat:before {
    content: "\52";
}
.icon-rice:before {
    content: "\36";
}
.icon-scorpion:before {
    content: "\73";
}
.icon-sheep:before {
    content: "\78";
}
.icon-spider:before {
    content: "\53";
}
.icon-virus:before {
    content: "\76";
}
.icon-wallaby:before {
    content: "\77";
}
.icon-worm:before {
    content: "\57";
}
.icon-yeast:before {
    content: "\e900";
}
.icon-zebrafish:before {
    content: "\5a";
}

