/***** 
 *
 * Make the EBI Drupal theme somewhat responsive ... 
 * Content area specific edits.
 * 2015-09-17
 *
 *****/

/* squish for small tablets and under */
body .container_24 {
    min-width: 301px; /* the absolute minimum size we support */
    max-width: auto;
}
body.level1 { max-width: 100%; }

body .container_24 .omega.grid_8 { /* sidebar column */
/*         float: none;
    margin-left: 1%;
    display: block;
    width: 100%;
    clear: both;  */
}

@media (max-width: 800px) {
    body .container_24 .grid_17,
    body .container_24 .alpha.grid_17, 
    body .container_24 .omega.grid_7,
    body .container_24 .omega.grid_20,
    body .container_24 .alpha.grid_12,
    body .container_24 .omega.grid_12,
    body .container_24 .alpha.grid_16 { /* left side with a sidebar */
        float: none;
        padding-right: 1%;
        display: block;
        width: 99%;
    }

    body.level1 .shortcuts>div {/* don't cap width of sidebar menu */
        width: 100%;
        max-width: none !important;
        display: block;
        text-align: center;
    }

    body .container_24 .omega.grid_6,
    body .container_24 .alpha.grid_18,
    body .container_24 .grid_8,
    body .container_24 .alpha.grid_8,
    body .panels-flexible-region.panels-flexible-region-about_us-mid.grid_8 {
        float: none;
        width: 98%;
        margin: 0;
    }

    body .shortcuts {
        padding-left: 2%;
    }

    /* grey background make little sense in 1 column */
    body #intro, 
    body .alpha #intro,
    body #outro {
      background: none;
      margin: 0;
    }
}

/* make columns that were 33% (half of middle) 50% */
body .container_24 .alpha.grid_8,
body .panels-flexible-region.panels-flexible-region-about_us-mid.grid_8 {
/*         width: 48%; */
}

/* make image insets full width */
/* bug off wysiwygs */
body div.caption-right .caption-inner { width: auto !important; }
@media (max-width: 400px) {
    body.node-type-press-release .pane-node-field-image,
    body div.caption-right { float: none; width: 95%; }
    body div.caption-right > div,
    body div.caption-right > div img  {  max-width: 100% !important; margin: 0 auto; float: none !important;text-align: center;margin: 0 auto !important;}
}

body.node-type-press-release .pane-node-field-image .field-item {
    text-align: center;
}


/* fix spacing around grey intro box */
.alpha #intro, .alpha #outro, .alpha .shortcuts, .alpha .highlight {
    margin: 0 2px 10px 5px;
}

/* table scrolling... */
table {
    max-width: 95% !important;
    overflow-x: auto;
    display: block;
    border: 0;
    padding: 0;
    margin: 0 0 0 3%;
    border-right: 1px solid #f1f1f1;
}

