#contactArea { height: 225px; border-bottom: 5px solid #02b6f1; overflow: hidden; background-color: #02b6f1; }


/* ----- The Pretty Stuff ----- */

* { margin: 0; padding: 0; outline: 0; } 

body { background-color: #2f3135; }

#container { width: 960px; margin: 0 auto; }

.content { width: 850px; height: 300px; padding: 55px; margin: 0 auto; background-color: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; font-family: Arial; font-size: 16px; line-height: 25px; position: relative; top: 45px; }

h1 { background: url(title.gif) no-repeat center center; display: block; width: 604px; height: 36px; margin: 0 auto; text-indent: -9999px; }
p { text-align: center; letter-spacing: 2px; color: #2f3135; }

h1, p { position: relative; top: 110px; }

a.contact { float: right; height: 34px; width: 115px; display: block; text-indent: -9999px; background: url(contactUs.gif) no-repeat 0 0; }

form { width: 910px; height: 300px; padding: 25px; margin: 0 auto; }

#info { float: left; width: 350px; }
#message { float: right; width: 500px;  }


input { margin-bottom: 15px; padding: 7px 7px; color: #4A4A4A; float: right; }
label { margin-bottom: 5px; float: left; clear: both; position: relative; top: 10px; }
textarea { padding: 7px 7px; height: 110px; margin-bottom: 15px; color: #4A4A4A; line-height: 20px; font-size: 12px; float: right; }

input { width: 250px; }
textarea { width: 350px; }

label { font-family: Arial; font-size: 16px; color: #fff; }

input#submit { float: right; clear: both; cursor: pointer; width: 125px; padding: 7px 7px; background-color: #972324; border: 0; color: #fff; }

input, textarea { outline: none; background-color: #f1f1f1; border: 3px solid #b2b2b2; padding: 7px; }
input:focus, textarea:focus { border: 3px solid #972324; }

input, textarea { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

#footer { width: 930px; padding: 15px; margin: 0 auto; position: relative; top: 55px; }
#footer img { float: right; }
#footer a.back { color: #02b6f1; text-decoration: none; font-family: Arial; font-size: 16px; position: relative; top: 10px; }
