.SPECIES_corn2, .SPECIES_cow, .SPECIES_fly3, .SPECIES_frog, .SPECIES_man, .SPECIES_mouse2, .SPECIES_pig, .SPECIES_plant3, .SPECIES_rat2, .SPECIES_spider, .SPECIES_worm, .SPECIES_yeast, .SPECIES_scorpion, .SPECIES_zebrafish{
	background: url(../../images/icons/species_sprites.png) no-repeat;
}

.SPECIES_corn2{
	background-position: -11px -11px ;
	width: 28px;
	height: 30px;
}

.SPECIES_cow{
	background-position: -9px -64px ;
	width: 32px;
	height: 24px;
}

.SPECIES_fly3{
	background-position: -9px -113px ;
	width: 33px;
	height: 28px;
}

.SPECIES_frog{
	background-position: -8px -209px ;
	width: 32px;
	height: 32px;
}

.SPECIES_man{
	background-position: -16px -308px ;
	width: 18px;
	height: 33px;
}

.SPECIES_mouse2{
	background-position: -10px -459px ;
	width: 28px;
	height: 32px;
}

.SPECIES_pig{
	background-position: -8px -365px ;
	width: 33px;
	height: 21px;
}

.SPECIES_plant3{
	background-position: -11px -559px ;
	width: 26px;
	height: 32px;
}

.SPECIES_rat2{
	background-position: -9px -416px ;
	width: 32px;
	height: 18px;
}

.SPECIES_spider{
	background-position: -8px -658px ;
	width: 33px;
	height: 33px;
}

.SPECIES_worm{
	background-position: -8px -160px ;
	width: 32px;
	height: 30px;
}

.SPECIES_yeast{
	background-position: -10px -261px ;
	width: 33px;
	height: 28px;
}

.SPECIES_scorpion{
	background-position: -9px -610px ;
	width: 32px;
	height: 31px;
}

.SPECIES_zebrafish{
	background-position: -9px -519px ;
	width: 32px;
	height: 11px;
}

