/* @media screen { */
  /*

   ebi-visual.css

   Custom styling for achieving the EBI "look"

    AUTHOR: Francis Rowland
    DATE:   Sep 2011
  */
  /* Typography
  ===================================================*/
  h1, h2, h3, h4, h5, h6 {
    font-family: 'HelveticaNeueLT Pro', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  }
    
  li { word-wrap: break-word; }
  
  /* Logo images */
  .ebi-logo {}
  
  /* pad in page content */
  body.table-layout table {
    padding: 0;
  }
  
  /* --- Links --- */
  a,
  a:visited {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: inherit;
  }
  a:hover,
  a:focus,
  a:active { border-bottom-style: solid; }
  a.special {
    font-style: italic;
    border-bottom-style:double;
    border-bottom-width: 3px;
    padding: 0.1em 0.3em;
  }
  a.image,
  a.image:visited { border-bottom: 0 none; }


  /* Colour
  ===================================================*/
  /* Masthead colours  -  to be reset by custom stylesheet */
  div#global-masthead { background-color: #333; }
  h1, h2, h3, h4, h5, h6 {
      color: #222222;
  }
  h4 { color: #666666; }
  /* --- Links --- */
  a {
    color:#3e3e3e;
    }
  a:visited {
    color: #666;
    }
  a:hover,
  a:focus,
  a:active {
    color: #000;
  }
  .text-highlight {
    color: #FFF;
    background-color: #888;
    padding: 0 0.2em;
  }


