/*

 	ebi-global.css

 	Style rules for common EBI website elements - global and local headers and footers

	AUTHOR: Francis Rowland
	DATE:   Feb 2012

*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'HelveticaNeueLT Pro', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

li { word-wrap: break-word; }

/* Logo images */
.ebi-logo {}

/* pad in page content */
body.table-layout table {
  padding: 0;
}

/* --- Links --- */
a,
a:visited {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: inherit;
}
a:hover,
a:focus,
a:active { border-bottom-style: solid; }
a.special {
  font-style: italic;
  border-bottom-style:double;
  border-bottom-width: 3px;
  padding: 0.1em 0.3em;
}
a.image,
a.image:visited { border-bottom: 0 none; }

/* Colour - defaults to be reset by custom stylesheet
===================================================*/
div#global-masthead { background-color: #333; }
h1, h2, h3, h4, h5, h6 {
    color: #222222;
}
h4 { color: #666666; }
/* --- Links --- */
a {
  color:#3e3e3e;
  }
a:visited {
  color: #666;
  }
a:hover,
a:focus,
a:active {
  color: #000;
}
.text-highlight {
  color: #FFF;
  background-color: #888;
  padding: 0 0.2em;
}

	/*
		SITE-WIDE MASTHEAD LAYOUT AND SIZE
		Generic rules for global and local mastheads
	===================================================
	 */

	/*
		GLOBAL MASTHEAD
	==================================
	*/
	#local-title a,
	nav a,
	nav a:hover { border-bottom: none; }

	/* Global menu styling */
	#global-masthead ul li a:hover,
	#global-masthead ul li a:active,
	#global-masthead ul li a:focus,
	#global-masthead ul li.active a,
	#global-masthead ul li.active-trail a {
		border-top: 3px solid white;
		margin-bottom: -3px;
	}

	/* custom colour for Services */
	#global-masthead ul li#services a:hover,
	#global-masthead ul li#services a:active,
	#global-masthead ul li#services a:focus,
	#global-masthead ul li.active#services a,
	#global-masthead ul li.active-trail#services a {
		border-top-color: #207a7a;
	}

	/* custom colour for Research */
	#global-masthead ul li#research a:hover,
	#global-masthead ul li#research a:active,
	#global-masthead ul li#research a:focus,
	#global-masthead ul li#research.active a,
	#global-masthead ul li#research.active-trail a {
		border-top-color: #71b360;
	}

	/* custom colour for Training */
	#global-masthead ul li#training a:hover,
	#global-masthead ul li#training a:active,
	#global-masthead ul li#training a:focus,
	#global-masthead ul li#training.active a,
	#global-masthead ul li#training.active-trail a {
		border-top-color: #fab700;
	}

	/* custom colour for About us */
	#global-masthead ul li#about a:hover,
	#global-masthead ul li#about a:active,
	#global-masthead ul li#about a:focus,
	#global-masthead ul li#about.active a,
	#global-masthead ul li#about.active-trail a,
	#global-masthead ul li#about-us a:hover,
	#global-masthead ul li#about-us a:active,
	#global-masthead ul li#about-us a:focus,
	#global-masthead ul li#about-us.active a,
	#global-masthead ul li#about-us.active-trail a {
		border-top-color: #207a7a;
	}

	header .masthead {
    padding-top: 2em;
  }

	/*
		LOCAL MASTHEAD
	==================================*/
	#skip-to {
		top: -5000px;
		position: absolute;
	}

	/* Local menu styling */
	#local-masthead nav {}

	#local-masthead ul li {
		border-right: 1px solid #f8f8f8;
	}

	#local-masthead h1,
	#local-masthead p,
	#local-masthead a {
		color: #fff;
	}

	#local-masthead ul li.active a,
	#local-masthead ul li.active-trail a,
	#local-masthead ul li.active a:visited,
	#local-masthead ul li.active-trail a:visited,
	#local-masthead ul li a:hover,
	#local-masthead ul li a:focus,
	#local-masthead ul li a:active {
		background-color: #111;
	}

	#local-search { font-size:80%; }

	#content {
		padding: 0.5rem 1rem 1.5rem;
	}

	body.section-about #local-masthead {
		background: #60bdc4;
	}
	body.section-industry #local-masthead {
		background: #83a3c9;
	}
	body.section-research #local-masthead {
		background: #a8d793;
	}
	body.section-research #local-title h1,
	body.section-research #local-title p,
	body.section-research #local-title a {
	  color: #222;
	}
	body.section-services #local-masthead {
		background: #60bdc4;
	}
	body.section-training #local-masthead {
		background: #f9e292;
	}
	body.section-training #local-title h1,
	body.section-training #local-title p,
	body.section-training #local-title a {
	  color: #222;
	}
	body.section-home #local-masthead {
		background: #1d8086;
	}

	/* Custom styling for different local masthead */
	#local-title.logo-only img,
	#local-title.logo-title img,
	#local-title.logo-title-strapline img { float: left; margin: 1em 0.69em 0.69em; }
	#local-title.logo-title span,
	#local-title.logo-title-strapline span { display:block; margin: 1em 0 0.69em 0; float:left; }
	#local-title.logo-title span { margin-top: 2.3em; }
	#local-title.logo-title h1,
	#local-title.logo-title-strapline h1 { display: inline; line-height: 100%; }
	#local-title.logo-title-strapline h1 { font-size: 270%; }
	#local-title.logo-title-strapline p { display: inline; font-size: 123.1%; }

	/*
		LOCAL FOOTER
	=============================== */
	#local-footer {
		border-top: 2px solid #eee;
	}

	/*
		GLOBAL FOOTER
	================================ */
	#global-footer {
		border-top: 5px solid #eee;
		padding-top: .5rem;
	}

	#global-footer a {
		color: #333;
	}

	#global-footer h5 {
		margin-bottom: 5px;
	}

	#global-footer p {
	   margin: 0 0 5px 0;
	}

	#global-footer ul {
		margin-left: 0;
		font-size: 85%;
		list-style: none;
	}

	#global-footer a:hover,
	#global-footer a:focus,
	#global-footer a:active{
		border-bottom: 1px dashed #e4e4e4;
	}

	#ebi-footer-meta { font-size: 85%; margin-bottom: 9px;}
	#ebi-footer-meta p.address { color: #888; }

/* icon to indicate link is a PDF file */
a span.link-pdf { background: url(http://www.ebi.ac.uk/inc/images/icon_pdf.gif) right center no-repeat; padding: 0 18px 0 0; }
h1 a span.link-pdf,
h2 a span.link-pdf,
h3 a span.link-pdf,
h4 a span.link-pdf,
h5 a span.link-pdf,
h6 a span.link-pdf { display:none; }

/* print styles */
@media print {
  a, a:visited { border-bottom: none; }
  #skip-to,
  #global-masthead nav,
  #local-masthead nav,
  form#local-search,
  #global-footer,
  #search_ebi,
  #shortcuts,
  #ebi_search_results { display: none; }
}
