<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="level2"><!-- add any of your classes or IDs -->
    {% include local_masthead.html %}
    <div id="content" role="main">
      <div data-sticky-container>
        <div id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="main-content-area:top" data-btm-anchor="main-content-area:bottom">
          <div class="masthead-inner row">
            <!-- local-title -->
            <div class="columns medium-7" id="local-title">
              <h1><a href="{{ site.domain }}{{ site.baseurl }}" title="Back to {{ site.name }} homepage">{{ site.name }}</a></h1>
            </div>
            <!-- /local-title -->
            <!-- local-nav -->
            <nav class="columns">
              <ul id="local-nav" class="dropdown menu float-left" data-description="navigational" data-dropdown-menu>
                {% comment %}
                We construct the site naviagion by loading a list of the site's pages
                and filtering to just those with the front matter of:
                  group: "in_local_navigation"
                and we order by adding
                  order: 2 (whatever number)
                {% endcomment %}
                {% assign navigation_list = site.pages | sort:"order" %}
                {% assign group = 'in_local_navigation' %}
                {% include navigation_list.html %}
              </ul>
            </nav>
            <!-- /local-nav -->
          </div>
        </div>
      </div>

      <section class="row" id="main-content-area">
        <!-- Your menu structure should make a breadcrumb redundant, but if a breadcrump is needed uncomment the below -->
        <!--
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li><a href="#">Parent</a></li>
            <li class="disabled">Disabled</li>
            <li>
              <span class="show-for-sr">Current: </span> This page
            </li>
          </ul>
        </nav>
        -->
        <div class="medium-9 columns padding-top-large">
        {{ content }}
        </div>
        <div class="medium-3 columns sidebar" data-sticky-container>
        </div>
      </section>
      <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
      <!--
        <div id="local-footer" class="local-footer">
          <div class="row">
            <span class="reference">How to reference this page: ...</span>
          </div>
        </div>
      -->
      <!-- End optional local footer -->
    </div><!-- /.container -->
    {% include footer.html %}
  </body>
</html>
